body{
  background-color: rgb(221, 255, 204);
  font-family: Oxygen;
  line-height: 1.7;
}

#main{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.mono{
  font-family: Oxygen Mono;
}

label{
  float:left;
  margin-right:10px;
}
table{
  border-spacing:0px;
}

.seq {
  width:195px;
  min-width:195px;
  float:left;
  text-transform: uppercase;
  background-color: rgb(221, 255, 204);
  font-size: medium;
  font-family: Oxygen
}


.score_square {
  display: table-cell;
  vertical-align:middle;
  text-align: center;
  height: 50px;
  width: 50px;
  min-width:50px;

  cursor:pointer;
  font-weight:bold;
  background-color: rgb(221, 255, 204);
  border:1px solid black;
}

.letter_square {
  display: table-cell;
  vertical-align:middle;
  text-align: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  cursor:pointer;
  font-weight:bold;
  background-color: rgb(221, 255, 204);
  text-transform: uppercase;
  
}

.params{
  width:70px;
  font-size: medium;
  background-color: rgb(221, 255, 204);
  font-family: Oxygen
}

.param_label{
  white-space: nowrap;
}

#param_result{
  padding-top: 10px;
}

#alignment {
  min-width:250px;
  font-size: larger;
}
#alignment td{
  
  width:30px;
  font-weight:bold;
}
#result{
  padding-left:10px;
  border-left: 2px solid black;

}


.MathJax{
  text-align: left;
}

